<h1>Tasks#show</h1>
<h1>课题招募</h1>
<p>Find me in app/views/tasks/detail.html.erb</p>
<!-- ###################################################################################################################################-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="wrapper wrapper-content animated fadeInUp">
      <div class="ibox">
        <div class="ibox-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="m-b-md">
                <a href="project_detail.html#" class="btn btn-white btn-xs pull-right">编辑项目</a>
                <h2 style="color: #0e9aef"><%=@task.theme %></h2>
              </div>
              <dl class="dl-horizontal">
                <dt>状态：</dt>
                <dd><span class="label label-primary">进行中</span>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-5">
              <dl class="dl-horizontal">
                <dt>发布者：</dt>
                <dd><%=@user.name %></dd>
                </dd>
                <dt>招募人数：</dt>
                <dd><%=@task.totalnum %> </dd>
                <dt>已招募：</dt>
                <dd>12 </dd>
              </dl>
            </div>
            <div class="col-sm-7" id="cluster_info">
              <dl class="dl-horizontal">

                <dt>最后更新：</dt>
                <dd><%=DateTime.parse(@task.updated_at.to_s).strftime('%Y年%m月%d日 %H:%M:%S').to_s%></dd>
                <dt>创建于：</dt>
                <dd><%=DateTime.parse(@task.created_at.to_s).strftime('%Y年%m月%d日 %H:%M:%S').to_s%></dd>
              </dl>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <dl class="dl-horizontal">
                <dt>当前进度</dt>
                <dd>
                  <div class="progress progress-striped active m-b-sm">
                    <div style="width: 60%;" class="progress-bar"></div>
                  </div>
                  <small>当前已完成项目总进度的 <strong>60%</strong></small>
                </dd>
              </dl>
            </div>
          </div>
          <div class="row m-t-sm">
            <div class="col-sm-12">
              <div class="panel blank-panel">
                <div class="panel-heading">
                  <div class="panel-options">
                    <ul class="nav nav-tabs">
                      <li><a href="project_detail.html#tab-1" data-toggle="tab">招募详情</a>
                      </li>
                      <li class=""><a href="project_detail.html#tab-2" data-toggle="tab">已招募到的人</a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="panel-body">
                  <div class="tab-content">
                    <div class="tab-pane active " id="tab-1">
                      <div class="ibox-content">
                        <div class="well">
                          <h3 style="color: #0e9aef">招募简介</h3>
                          <p><h4><%=@task.abstract %></h4></p>
                        </div>
                        <div class="well well-lg">
                          <h3 style="color: #0e9aef">招募要求</h3>
                          <p><h4><%=@task.content %></h4></p>
                        </div>
                        <%=form_for(@task_and_user,url: '/apply') do |f| %>
                          <div class="col-sm-2 col-sm-offset-5">
                          <%= f.hidden_field :user_id, :value => @user.id %>
                          <%= f.hidden_field :task_id, :value => @task.id %>
                            <% if  @verify!=nil && @verify.ispassed==0%>
                              <button class="btn btn-default btn-lg"  disabled="disabled">已申请</button>
                              <% elsif(@verify!=nil && @verify.ispassed==1) %>
                              <button class="btn btn-success btn-lg"  disabled="disabled">已加入</button>
                              <% else %>
                              <%=f.submit "报名",class: "btn btn-default btn-lg" %>
                              <%end %>

                          <% end %>
                        </div>
                      </div>
                    </div>

                    <div class="tab-pane " id="tab-2">
                      <div class="ibox-content">
                        <table class="table">
                          <thead>
                          <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>年龄</th>
                            <th>学院/培养单位</th>
                            <th>当前学期</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr>
                            <td>1</td>
                            <td>二师兄</td>
                            <td>男</td>
                            <td>24</td>
                            <td>计算机科学与技术学院</td>
                            <td>研一</td>
                          </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
