<div class="col-sm-8">
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>个人信息</h5>
    </div>
    <div class="ibox-content">
      <div class="row">
        <div class="col-sm-12">
          <%= form_for(@user,url: editinfo_url) do |f| %>
            <div class="form-group">
              <label>您的名字</label>
              <%=f.text_field :name,class: 'form-control uname',placeholder:@user.name %>
            </div>
            <div class="form-group">
              <label>年龄</label>
              <%=f.text_field :age,class: 'form-control uname',placeholder:@user.age %>
            </div>
            <div class="form-group">
              <label>学院</label>
              <%=f.text_field :school,class: 'form-control uname',placeholder:@user.school %>
            </div>
            <div class="form-group">
              <label>当前学期</label>
              <%=f.text_field :currterm,class: 'form-control uname',placeholder:@user.currterm %>
            </div>
            <div class="form-group">
              <label>手机</label>
              <%=f.telephone_field :tel,class: 'form-control uname',placeholder:@user.tel %>
            </div>
            <div class="form-group">
              <label>email</label>
              <%=f.email_field :email,class: 'form-control uname',placeholder:@user.email %>
            </div>
            <div>
              <%=f.submit "完善信息",class: "btn btn-primary pull-right m-t-n-xs"%>
            </div>
            <%end %>
        </div>
      </div>
    </div>
  </div>
</div>
