<!DOCTYPE html>
<html>
  <head>
    <title>Heartfelt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'customer'%>
    <%= javascript_pack_tag 'Yslider'%>




  </head>

  <body>
    <div id="wrapper">
      <div class="overlay"></div>
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
            <a href="#">
              菜单
            </a>
          </li>
          <li>
           <i class="fa fa-fw fa-home"></i> <%=link_to '主页',tasks_show_path %>
          </li>
          <li>
           <i class="fa fa-fw fa-folder"></i> <%=link_to '个人信息 ',users_edit_path %>
          </li>
        </ul>
      </nav>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
          <span class="hamb-top"></span>
          <span class="hamb-middle"></span>
          <span class="hamb-bottom"></span>
        </button>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            </div>
          </div>
        </div>
      </div>

      <div class="sun_banner">
        <div class="Yl-container"></div>
      </div>
      <!-- /#page-content-wrapper -->
      <script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
      <script type="text/javascript">
      </script>
    </div>
    <div class="row wrapper wrapper-content animated fadeInUp">
    <%@check=User.find_by(id: cookies.signed[:user_id] ) %>
    <% @authority=Signin.find_by_stuid(@check.stuid) %>
    <% if @authority.authority=="admin"%>
        <div class="col-md-2 col-md-offset-1 ">
          <div class="ibox float-e-margins">
            <div class="ibox-title">
              <h5>个人资料</h5>
            </div>
            <div>
              <div class="ibox-content no-padding border-left-right" style="text-align: center">
                <%=image_tag("profile_big", size: '200') %>
              </div>
              <div class="ibox-content profile-content">
                <%@user=User.find_by(id: cookies.signed[:user_id])%>
                <h4><strong><%=@user.name %></strong></h4>
                <p><i class="fa fa-map-marker"></i> <%=@user.school %></p>
                <h5>
                  管理员
                </h5>
              </div>
            </div>
          </div>
          <% if  logged_in? %>
            <% link_to "Users","#" %>
            <%= link_to "登出",logout_path,method: :delete %>
          <%end %>
        </div>
    <%elsif @authority.authority=="stu"%>

      <!-- 个人资料页-->
      <div class="col-md-2 col-md-offset-1 ">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <h5>个人资料</h5>
          </div>
          <div>
            <div class="ibox-content no-padding border-left-right" style="text-align: center">
              <%=image_tag("profile_big", size: '200') %>
            </div>
            <div class="ibox-content profile-content">
              <%@user=User.find_by(id: cookies.signed[:user_id])%>
              <h4><strong><%=@user.name %></strong></h4>
              <p><i class="fa fa-map-marker"></i> <%=@user.school %></p>
              <h5>
                学生
              </h5>
              <div class="user-button">
                <div class="row">
                  <div class="col-sm-6"><%=link_to "我的招募",users_show_url%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if  logged_in? %>
          <% link_to "Users","#" %>
          <%= link_to "登出",logout_path,method: :delete %>
        <% else%>
          <p>没有登录进来</p>
        <%end %>
        <%flash.each do |message_type,message| %>
          <div class="alert alert -<%=message_type %>"><%=message%></div>
        <% end %>

      </div>
  <%end %>
      <!-- 个人资料页end-->
  <%= yield %>
    </div>
  </body>
</html>

